body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidecontainer {
    width: 75%; 
    justify-content: center;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 75%; 
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    justify-content: center;
}

#guess_button {
    border: none;
    color: white;
    background-color: darkslategray;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}